.header-area {
  padding: 35px 0;

  @include mobile {
    padding: 32px 0;
  }

  &__logo {
    @include mobile {
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__navigation {
    @include mobile {
      display: none;
    }
    nav {
      ul {
        li {
          display: inline-block;
          a {
            font-size: $fs-12;
            line-height: $lh-26;
            font-weight: $bold;
            color: $grey;
            text-transform: uppercase;
            letter-spacing: 0.92px;
          }
          &:nth-child(2) {
            margin: 0 32px 0 33px;
          }
        }
      }
    }
  }

  &__hamburger {
    display: none;

    svg {
      cursor: pointer;
    }

    .mobile-menu {
      .inner {
        background-color: $dark-grey-blue;
        padding-top: 40px;
        padding-bottom: 181px;
        margin: 0 24px;
        background: linear-gradient(
          to top,
          transparent 0,
          rgba(254, 252, 247, 1) 45%
        );
        border-radius: 10px;
        text-align: center;
      }
      visibility: hidden;
      transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transform: translateY(500px);
      position: fixed;
      top: 61px;
      left: 0;
      z-index: 1000;
      // background: rgba(254, 252, 247, 1);
      width: 100%;
      height: 100vh;

      &.open {
        visibility: visible;
        transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        transform: translateY(0);
      }

      nav {
        ul {
          list-style: none;
          //text-align: center;
          padding-left: 0;
          margin-bottom: 145px;
          margin-top: 40px;
          li {
            text-decoration: none;

            a {
              font-family: $fraunces;
              font-size: $fs-24;
              font-weight: $black;
              line-height: 1.33;
              color: $dark-grey-blue;
            }

            &:not(:last-child) {
              margin-bottom: 32px;
            }
          }
        }
      }
    }

    @include mobile {
      display: block;
    }
  }
}
