/*=============================================
=                     MIXINS                =
=============================================*/

/*=============================================
=                  BREAKPOINTS              =
=============================================*/

@mixin mobile {
  @media (max-width: map-get($breakpoints, "mobile")) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: map-get($breakpoints, "tablet")) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: map-get($breakpoints, "desktop")) {
    @content;
  }
}

/*=====  End of BREAKPOINTS  ======*/

/*=============================================
=            KEYFRAMES            =
=============================================*/

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  keyframes #{$animation-name} {
    @content;
  }
}

/*=====  End of KEYFRAMES  ======*/

/*=============================================
=            ANIMATIONS            =
=============================================*/

@mixin animation($animation-name) {
  -webkit-animation: #{$animation-name};
  -moz-animation: #{$animation-name};
  -ms-animation: #{$animation-name};
  -o-animation: #{$animation-name};
  animation: #{$animation-name};
}

/*=====  End of ANIMATIONS  ======*/
