/*=============================================
=                   Variables               =
=============================================*/

/**
 *
 * Tables of content
 *
 * COLORS .....................................
 * Primary colors .............................
 * Secondary colors ...........................
 * Utilities colors ...........................
 * Button colors ..............................
 *
 * TYPOGRAPHY .................................
 * Font family ................................
 * Fonts weight ...............................
 * Fonts size .................................
 * Line height ................................
 * 
 * BREAKPOINTS
 * Breakpoint .................................
 *
 */

/*=============================================
=                   COLORS                  =
=============================================*/

/*=============================================
=            Primary colors                 =
=============================================*/

$dark-cyan: hsl(179, 81%, 29%);

$dark-grey-blue: hsl(215, 19%, 25%);
$pale-orange: hsl(25, 94%, 88%);

/*=============================================
=            Secondary colors                 =
=============================================*/

$light-cream: hsl(43, 78%, 98%);
$grey: hsl(215, 5%, 54%);

/*=============================================
=            Utilities colors                 =
=============================================*/

$white: hsl(0, 0%, 100%);
$red: hsl(0, 100%, 50%);

/*=============================================
=            Button colors                 =
=============================================*/

$bg-btn-hover-color: hsl(179, 35%, 68%);
$bg-btn-disabled-color: hsl(26, 11%, 87%);

/*=============================================
=         Big option selection colors       =
=============================================*/

$bg-big-option-color: hsl(40, 29%, 94%);

/*=====  End of COLORS  ======*/

/*=============================================
=                 TYPOGRAPHY                =
=============================================*/

/*=============================================
=                Font family                =
=============================================*/

$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", serif;

/*=============================================
=                Font weight                =
=============================================*/

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 900;

/*=============================================
=                Font sizes                 =
=============================================*/

$fs-150: 9.375rem; //150px;
$fs-72: 4.5rem; //72px;
$fs-48: 3rem; //48px;
$fs-40: 2.5rem; //40px;
$fs-32: 2rem; //32px;
$fs-24: 1.5rem; //24px;
$fs-18: 1.125rem; //18px;
$fs-16: 1rem; //16px;
$fs-15: 0.938rem; //15px;
$fs-12: 0.75rem; //12px;
/*=============================================
=                Line height                =
=============================================*/

$lh-72: 4.5rem; // 72px
$lh-48: 3rem; // 48px
$lh-36: 2.25rem; // 36px
$lh-32: 2rem; // 32px
$lh-26: 1.625rem; // 26px
$lh-15: 0.938rem; // 15px

/*=============================================
=                Letter spacing             =
=============================================*/

/*=====  End of TYPOGRAPHY  ======*/

/*=============================================
=                BREAKPOINT                 =
=============================================*/

$breakpoints: (
  mobile: 47.938rem,
  //767px
  //375px,
  tablet: 67.75rem,
  // 1084px
  //768px,
  desktop: 90rem,
  //1440px,
);

/*=====  End of BREAKPOINT  ======*/
